<div class="row">
    <h1>Hard and soft skills</h1>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="85"
  [radius]="80"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="3"
  [outerStrokeColor]="'blue'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="85"
  [radius]="80"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="3"
  [outerStrokeColor]="'blue'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="85"
  [radius]="80"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="3"
  [outerStrokeColor]="'blue'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="85"
  [radius]="80"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="3"
  [outerStrokeColor]="'blue'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="85"
  [radius]="80"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="3"
  [outerStrokeColor]="'blue'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="85"
  [radius]="80"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="3"
  [outerStrokeColor]="'blue'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
</div>
</div>
