<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>trabajo 1</h1> - <h3>years</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, sed doloribus ipsa beatae id deserunt autem obcaecati nihil! Sapiente, quo quaerat. Dolores atque quidem vero quaerat nihil consequatur recusandae eos.</p>
        </ul>
        <ul>
            <li>
                <h1>trabajo 2</h1> - <h3>years</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, sed doloribus ipsa beatae id deserunt autem obcaecati nihil! Sapiente, quo quaerat. Dolores atque quidem vero quaerat nihil consequatur recusandae eos.</p>
        </ul>
        <ul>
            <li>
                <h1>trabajo 3</h1> - <h3>years</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, sed doloribus ipsa beatae id deserunt autem obcaecati nihil! Sapiente, quo quaerat. Dolores atque quidem vero quaerat nihil consequatur recusandae eos.</p>
        </ul>
    </div>
</div>
